

h1  {
	  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
} 

p  {
	  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
	  margin-bottom: 15px;
} 



body {
	background-color: lightgray!important;
}

 {
	padding: 15px 0px 15px 0px;

	
} 
.row {justify-content: center;
		margin: 15px;
		padding: 15x;} 

.container {justify-content: center;} 

